div ::deep .card-view {
    position: fixed;
    top: 50%;
    left: 50%;

    height: 825px;
    width: 550px;

    transform: translate(-50%, -50%);
 
    z-index: 999;

    background: rgb(220, 220, 220);
}

div ::deep .card-view:hover {
    transform: translate(-50%, -50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#board-container {
  display: flex;
  justify-content: center;
  height: 100%; 
  overflow: hidden;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.cards {
  padding: 20px;

  display: grid;
  gap: 20px;
}

.col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

#center-card {
    background: rgb(100, 100, 100);
    transform: translateX(calc(50% + 10px));
}

.hero-card {
    background: rgb(230, 230, 180);
}

.card-player-deck {
    background: rgb(210, 230, 210);
}

.card-common-deck {
    background: rgb(230, 210, 230);
}

.action-bar {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.action-bar-buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    border-radius: 5px;
    background: rgb(222, 222, 222);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.action-hint {
    color: red;
    text-align: center;
}

.action-button:hover {
    background: rgb(180, 180, 180);
}
