.card {
    display: grid;

    width: 80px;
    height: 120px;

    background-color: tan;
    border-radius: 1%;
    border: none;
    cursor: pointer;
    transition: all .1s ease-in-out;

    position: relative;
}

.card:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}

.card-avers {
    background: rgb(180, 180, 180);
}

.card-revers {
    background: rgb(20, 20, 20);
}

.card-hidden {
    opacity: 0;
    cursor: default;
}

.card-grayed-out {
    opacity: 0.4;
    cursor: default;
}

.info-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 3%;
    top: 2%;
    gap: 0.2em;
}

.info-panel-text {
    padding: 0;
    margin: 0;
    font-size: calc(10%);
}

.race-text {
}

.class-text {
    color: rgb(80, 80, 80);
}

.fraction-text {
    text-transform: uppercase;
    color: rgb(110, 110, 110);
}

.stats-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 3%;
    bottom: 2%;
    gap: 0.2em;
}

.stat-panel {
    text-align: right;
    display: flex;
    gap: 0.2em;
}

.stat-values-row {
    display: flex;
    gap: 0.2em;
}

.stat-name {
    text-align: right;
    font-size: 20px;
}

.stat-text {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.stat-row {
    
}

.hp-stat-row {
    
}

.name {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: 2em;
    font-weight: 500;
    text-align: right;
}

.type {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 3%;
    bottom: 2%;
    font-size: 2em;
    font-weight: 500;
}

.card-description {
    text-align: center;
    font-size: 0.5vw;
}

.card-slot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 2px;
}

.card-list .number {
  border: 1px solid black;
  background-color: orange;
  padding: 2px;
}

.effects .card-icon{
  filter: invert(1);
}

.reverse-name {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}